#myCarousel {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
      transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }
}
.two{
  background-color: black;
  color: white;
  font-weight: 300;
  font-size: 19px;
}
.one{
  font-weight: 900;
  font-size: 29px;
}
.three{
  color: gainsboro;
  font-size: 19px;
}.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.overlayy {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlayy {
  height: 20%;
}

.text a {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.tex{
  text-align: center;
}