

.content {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
     background-color: black;
       position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    
    opacity: 1;
  }
  
  .content-details h5{
      
    color: #fff;
    font-weight: 100;
  
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
      top: 50%;
    }
    
    .fadeIn-top{
      top: 20%;
    }
    
    .fadeIn-left{
      left: 20%;
    }
    
    .fadeIn-right{
      left: 50%;
    }
  
  /* .banner{
      background-image: url(../img/left-banner-image.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 86vh;
  } */
  .centered {
      position: absolute;
      top: 30%;
      left: 10%;
      transform: translate(-10%, -10%);
    }
  .we{
      color: #fff;
     
      font-size: 52px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  .clean{
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      font-style: italic;
      display: block;
      margin-bottom: 30px;
  }
  .Purchase{
      text-decoration: none;
      color: #fff;
      border:1px solid white ;
  }
  .Purchase:hover{
      color: black;
      background-color: #fff;
  }
  .Women{
      color: #fff;
  
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  .Best{
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      font-style: italic;
      display: block;
     text-align: center;
  }
  .centere {
      position: absolute;
      top: 40%;
      left: 30%;
      transform: translate(-10%, -10%);
    }
    














    .Off{
      font-weight:700 ;
      font-size: 40px;
  }
  .themes{
      font-weight: 500;
      font-size: 17px;
      font-style: italic;
      color: rgb(154, 150, 150);
  }
  .Store{
      font-weight: 700;
  }
  .States{
      color: rgb(154, 150, 150);
  font-weight: 600;
  }
  
  
  a.abc{
    color:black;
    text-decoration: none;
    font-weight: 600;
      font-size: 19px;
    }
    a.abc:hover{
      color:rgb(131, 131, 131);
      }
      a.ab{
        color:rgb(131, 131, 131);
        text-decoration: none;
        font-weight: 600;
          font-size: 19px;
        }
        a.ab:hover{
          color:rgb(131, 131, 131);
          }
  
  /*  */
  /* footer */
  footer{
      background-color:rgb(41, 40, 40) ;
  }
  .pa{
      color: white;
  }
  .pa1{
      color: white;
      text-align: center;
  border-top: 1px solid rgb(107, 105, 105);
  }
  .pa2{
      color: white;
      text-align: center;
  }
  .face{
      color: #faf9f9;
      border-radius: 70%;
      background-color: rgb(9, 9, 8); 
  }
  .face:hover{
    color: black;
    background-color: #fff;
  }
  .fac{
      color: black;
    background-color: #fff;
    border-radius: 70%;
  }
  .fac:hover{
      color: #faf9f9;
     
      background-color: rgb(9, 9, 8);
  }
  
  
  header{
      background-image: url(../img2/about-us-page-heading.jpg);
      background-repeat:no-repeat;
      background-position: center;
      background-size: cover;
      height: 40vh; 
  }
  h1.Our{
      text-align: center;
      font-size: 55px;
      font-weight: 900;
      color: white;
  }
  .HTML5{
      text-align: center;
      font-size: 17px;
      font-weight: 400;
      font-style: italic;
      color: white;
  }
  .Team{
      text-align: center;
    
  }
  .demo>[class*='col-']
    {
        padding-right: 0;
        padding-left: 0;
    }
    .bor{
      border-bottom: 2px dashed rgb(181, 178, 178);
  }
  .About{
      font-size: 45px;
      font-weight: 700;
  }
  .Lorem{
      font-size: 17px;
      font-weight: 500;
      color: rgb(144, 135, 135);
  }
  .website{
      font-style: italic; 
      font-size: 17px;
      font-weight: 500;
  }
  .other{
      font-style: italic; 
      font-size: 17px;
      font-weight: 500;
      color: rgb(154, 155, 156);
  }
  .Ragnar{
      font-size: 30px;
      font-weight: 700;
  }
  .Synther{
      font-size: 30px;
      font-weight: 700;
  }
  .ipsum{
      font-size: 17px; 
  }
  
  
  
  .content {
      position: relative;
      width: 100%;
      max-width: 900px;
      margin: auto;
      overflow: hidden;
    }
    .navbg{
      background-color: #fff;
    }
    .content .content-overlay {
       background-color: black;
         position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }
    
    .content:hover .content-overlay{
      opacity: 0.8;
    }
    
    .content-image{
      width: 100%;
    }
    
    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 90%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    
    .content:hover .content-details{
      
      opacity: 1;
    }
    
    .content-details h5{
        
      color: #fff;
      font-weight: 100;
    
    }
    
    .content-details p{
      color: #fff;
      font-size: 0.8em;
    }
    
    .fadeIn-bottom{
        top: 50%;
      }
      
      .fadeIn-top{
        top: 20%;
      }
      
      .fadeIn-left{
        left: 20%;
      }
      
      .fadeIn-right{
        left: 50%;
      }
    
    /* .banner{
        background-image: url(../img/left-banner-image.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 86vh;
    } */
    .centered {
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translate(-10%, -10%);
      }
    .we{
        color: #fff;
       
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .clean{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        display: block;
        margin-bottom: 30px;
    }
    .Purchase{
        text-decoration: none;
        color: #fff;
        border:1px solid white ;
    }
    .Purchase:hover{
        color: black;
        background-color: #fff;
    }
    .Women{
        color: #fff;
    
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Best{
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        display: block;
       text-align: center;
    }
    .centere {
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-10%, -10%);
      }
      .TemplateMo{
          color: rgb(164, 186, 184);
          text-decoration: none;
         
       } 
       .TemplateMo:hover{
          color: brown;
       }
       .fa1{
          color: rgb(164, 186, 184);
          text-decoration: none;
       }
      .fa1:hover{
          color: brown;
      }
      .plane{
          border: 1px solid black;
          background-color: black;
          color: #fff;
        }
        .plane:hover{
          background-color: #fff;
          color: black;
        }